#home {
    height: 100vh;
    background: linear-gradient(to right, #9c1f00, #ebe843);
    color: white;
    margin-bottom: 70px;
}

#skills {
    margin-top: 70px;
}

#containerhome {
    padding-top: 150px;
}